<f:layout name="Backend" />

<f:section name="main">
	<f:format.html>{text.before}</f:format.html>
	{authCode.authCode}
	<f:format.html>{text.after}</f:format.html>
	<f:link.action action="new" controller="Result" pluginName="Questionnaire" pageUid="{plugin.pid}" target="_blank" extensionName="WsQuestionnaire" absolute="TRUE" arguments="{code:authCode.authCode}">
		<f:translate key="LLL:EXT:ws_questionnaire/Resources/Private/Language/locallang_mod_authCode.xml:mail.directLink" />
	</f:link.action>
</f:section>
