<f:if condition="{question.numbering}">{question.numbering}</f:if>
<div class="wsqQuestionTitle">
	<f:if condition="{0: question.mediaPosition} == {0: 'top'}">
		<f:render partial="Question/QuestionImage" arguments="{question: question, position: 'Top'}" />
	</f:if>
	<f:if condition="{0: question.mediaPosition} == {0: 'right'}">
		<f:render partial="Question/QuestionImage" arguments="{question: question, position: 'Right'}" />
	</f:if>
	<f:if condition="{0: question.mediaPosition} == {0: 'left'}">
		<f:render partial="Question/QuestionImage" arguments="{question: question, position: 'Left'}" />
	</f:if>	
    <f:if condition="{question.showTitle}">{question.title}<br /></f:if>
	{question.text}
	<f:if condition="{question.mediaPosition} == 'bottom'">
		<f:render partial="Media/Container" arguments="{question: question, position: 'bottom'}" />
	</f:if>
</div>