<b><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_analyse.xml:menu.title" /></b><br />
<f:be.menus.actionMenu>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_analyse.xml:menu.general')}" action="general" controller="Analyse"  arguments="{pluginUid:plugin.uid}"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_analyse.xml:menu.questions')}" action="questions" controller="Analyse" arguments="{pluginUid:plugin.uid}"/>
</f:be.menus.actionMenu>
