<b><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:menu.title" /></b><br />
<f:be.menus.actionMenu>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:menu.csvRb')}" action="csvRb" controller="Export" arguments="{pluginUid:plugin.uid}"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:menu.csv')}" action="csv" controller="Export" arguments="{pluginUid:plugin.uid}"/>
	<f:be.menus.actionMenuItem label="{f:translate(key:'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:menu.pdf')}" action="pdf" controller="Export"  arguments="{pluginUid:plugin.uid}"/>
</f:be.menus.actionMenu>
