<div class="resultCounter">
    <h5><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:results.counter.title" /></h5>
    <ul>
        <li>
            <span><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:results.counter.all" />:</span>{counter.all}
        </li>
        <li>
            <span><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:results.counter.finished" />:</span>{counter.finished}
        </li>
        <li>
            <span><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:results.counter.not" />:</span>{counter.not}
        </li>
        <li>
            <span><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_export.xml:results.counter.connected" />:</span>{counter.connected}
        </li>
    </ul>
</div>