<div class="keqButtons">
	<f:if condition="{questionnaire.isFirstPage}">
		<f:else>
			<f:form.submit class="btn prev" value="{f:translate(key: 'prevPage')}" />
		</f:else>
	</f:if>
	<f:if condition="{questionnaire.isLastPage}">
		<f:then>
			<f:form.submit class="btn btn-primary next" value="{f:if(condition: settings.neverFinish, then: '{f:translate(key:\'saveKeq\')}', else: '{f:translate(key: \'submitKeq\')}')}" />
		</f:then>
		<f:else>
			<f:form.submit class="btn btn-primary next" value="{f:translate(key: 'nextPage')}" />
		</f:else>
	</f:if>	
</div>