{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqDDArea" id="wsq{question.uid}a{answer.uid}">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden name="answerErrors[]" id="wsqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>

		<div class="wsq-dd-area-container">
			<f:image src="uploads/tx_wsquestionnaire/{answer.image}" alt="areaimage" width="{answer.width}px" height="{answer.height}px" />
			<f:for each="{answer.coords}" as="area">
				<div value="{area.key}" class="wsq-placeholder dd-area ui-droppable {f:if(condition:'{answer.areaHighlight}',then:'dd-area-highlight',else:'')}" style="top: {area.y1}px; left: {area.x1}px; width: {area.width}px; height: {area.height}px">
					<f:if condition="{area.title}">
						<div class="wsq-dd-area-title">{area.title}</div>
					</f:if>
				</div>
			</f:for>
		</div>
		<div class="wsq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
            <qu:ddImage answer="{answer}" question="{question}" as="dd">
               <div id="wsq{question.uid}moveable{dd.counter}" class="wsq-moveable moveable-image ui-draggable" answer="{dd.image.uid}" question="{question.uid}">
					<f:alias map="{boxResultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: dd.image.uid)}'}">
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][answer]" value="{dd.image.uid}" />
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][value]" value="{f:if(condition: boxResultAnswer.value, then: boxResultAnswer.value)}" additionalAttributes="{wsqchecktype:'ddImage'}"/>
					</f:alias>
				   <f:if condition="{dd.image.image}">
						<f:then>
							<f:image src="uploads/tx_wsquestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}" />
						</f:then>
						<f:else>
							{dd.image.title}
						</f:else>
					</f:if>
				</div>
			</qu:ddImage>
		</div>
	</div>
</f:alias>
<qu:JavaScriptFile key="DDQuestions" filename="typo3conf/ext/ws_questionnaire/Resources/Public/Script/DDQuestions.js" footer="false"/>
<qu:pageRenderer.addJsFooterInlineCode>
	<f:if condition="{answer.areaHighlight}">
		<f:then>
/*
 * If the option is checked the hoverClass is defined
 */
	jQuery( "#wsq{question.uid} .wsq-moveable" ).xdraggable("option","containment","#wsq{question.uid}");
	jQuery( "#wsq{question.uid} .wsqDDArea .wsq-placeholder" ).droppable("option","hoverClass","dd-area-highlight-hover");
	jQuery( "#wsq{question.uid} .wsqDDArea .wsq-moveable-container" ).droppable("option","hoverClass","dd-area-highlight-hover");
		</f:then>
		<f:else>
/*
 * Else the images need to fit in the areas totally
 */
	jQuery( "#wsq{question.uid} .wsq-moveable" ).xdraggable("option","containment","#wsq{question.uid}");
	jQuery( "#wsq{question.uid} .wsqDDArea .wsq-placeholder" ).droppable("option","tolerance","fit");
	jQuery( "#wsq{question.uid} .wsqDDArea .wsq-moveable-container" ).droppable("option","tolerance","fit");
		</f:else>
	</f:if>
</qu:pageRenderer.addJsFooterInlineCode>
<f:if condition="{question.isMandatory}">
<qu:pageRenderer.addJsFooterInlineCode>
	/*
	 * When the length of all input field values is > 0
	 */
	jQuery( "#wsq{question.uid} input[type=hidden]" ).on( "change", function() {
		check_wsq{question.uid}a{answer.uid}();
	});
	check_wsq{question.uid}a{answer.uid} = function() {
		var length = 0;
		jQuery("#wsq{question.uid}a{answer.uid} input[type=hidden]").each(function(){
			if (jQuery(this).attr('wsqchecktype') == 'ddImage'){
				length += jQuery(this).val().length;
			}
		});
		if (length > 0) jQuery("#wsqMandatory{question.uid}").val(0);
		else jQuery("#wsqMandatory{question.uid}").val(1);
		checkMandatory();
	}
	check_wsq{question.uid}a{answer.uid}();
</qu:pageRenderer.addJsFooterInlineCode>
</f:if>