{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="keqAnswerWrap keqDDAreaSimpleScale keqDDArea">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden name="answerErrors[]" id="keqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="keq{question.uid}a{answer.uid}info"></div>

		<div class="keq-dd-area-container">
			<f:if condition="{answer.image}">
				<f:then></f:then>
				<f:else>
					<f:image src="typo3conf/ext/ke_questionnaire/Resources/Public/Images/simpleScale.png" alt="scale"/>
				</f:else>
			</f:if>
		</div>
		<div class="keq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
			<ke:ddImage answer="{answer}" question="{question}" as="dd">
				<div id="keq{question.uid}moveable{dd.counter}" class="keq-moveable moveable-image ui-draggable" answer="{dd.image.uid}" question="{question.uid}">
					<f:alias map="{boxResultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: dd.image.uid)}'}">
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][answer]" value="{dd.image.uid}" />
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][value]" value="{f:if(condition: boxResultAnswer.value, then: boxResultAnswer.value)}" />
					</f:alias>
					<f:if condition="{dd.image.image}">
						<f:then>
							<f:image src="uploads/tx_kequestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}" />
						</f:then>
						<f:else>
							{dd.image.title}
						</f:else>
					</f:if>
				</div>
			</ke:ddImage>
		</div>
	</div>
</f:alias>
<ke:JavaScriptFile key="DDQuestions" filename="typo3conf/ext/ke_questionnaire/Resources/Public/Script/DDQuestions.js" />
<ke:JavaScript>
<f:if condition="{answer.areaHighlight}">
	<f:then>
/*
 * If the option is checked the hoverClass is defined
 */
	jQuery( "#keq{question.uid} .keq-moveable" ).xdraggable("option","containment","#keq{question.uid}");
	jQuery( "#keq{question.uid} .keqDDArea .keq-placeholder" ).droppable("option","hoverClass","dd-area-highlight-hover");
	jQuery( "#keq{question.uid} .keqDDArea .keq-moveable-container" ).droppable("option","hoverClass","dd-area-highlight-hover");
	</f:then>
	<f:else>
/*
 * Else the images need to fit in the areas totally
 */
	jQuery( "#keq{question.uid} .keq-moveable" ).xdraggable("option","containment","#keq{question.uid}");
	jQuery( "#keq{question.uid} .keqDDArea .keq-placeholder" ).droppable("option","tolerance","fit");
	jQuery( "#keq{question.uid} .keqDDArea .keq-moveable-container" ).droppable("option","tolerance","fit");
	</f:else>
</f:if>
</ke:JavaScript>