{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="keqAnswerWrap keqDDAreaSequence keqDDArea" id="keq{question.uid}a{answer.uid}">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden name="answerErrors[]" id="keqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="keq{question.uid}a{answer.uid}info"></div>

		<div class="keq-dd-area-container">
			<ke:ddImage answer="{answer}" question="{question}" as="area">
				<div value="{area.counter}" class="keq-placeholder dd-sequence ui-droppable {f:if(condition:'{answer.areaHighlight}',then:'dd-area-highlight',else:'')}" style="width: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px; height: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px">&nbsp;</div>
			</ke:ddImage>
		</div>
		<div class="keq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
			<ke:ddImage answer="{answer}" question="{question}" as="dd">
				<div id="keq{question.uid}moveable{dd.counter}" class="keq-moveable moveable-image ui-draggable" answer="{dd.image.uid}" question="{question.uid}">
					<f:alias map="{boxResultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: dd.image.uid)}'}">
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][answer]" value="{dd.image.uid}" />
						<f:form.hidden name="newResult[questions][{question.uid}][answers][{dd.image.uid}][value]" value="{f:if(condition: boxResultAnswer.value, then: boxResultAnswer.value)}" additionalAttributes="{keqchecktype:'ddImage'}" />
					</f:alias>
                    <f:if condition="{dd.image.image}">
                        <f:then>
                            <f:image src="uploads/tx_kequestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}"/>
                        </f:then>
                        <f:else>
                            {dd.image.title}
                        </f:else>
                    </f:if>
				</div>
			</ke:ddImage>
		</div>
	</div>
</f:alias>
<ke:JavaScriptFile key="DDQuestions" filename="typo3conf/ext/ke_questionnaire/Resources/Public/Script/DDQuestions.js" footer="false"/>
<ke:JavaScript>
<f:if condition="{answer.areaHighlight}">
	<f:then>
/*
 * If the option is checked the hoverClass is defined
 */
	jQuery( "#keq{question.uid} .keq-moveable" ).xdraggable("option","containment","#keq{question.uid}");
	jQuery( "#keq{question.uid} .keqDDArea .keq-placeholder" ).droppable("option","hoverClass","dd-area-highlight-hover");
	jQuery( "#keq{question.uid} .keqDDArea .keq-moveable-container" ).droppable("option","hoverClass","dd-area-highlight-hover");
	</f:then>
	<f:else>
/*
 * Else the images need to fit in the areas totally
 */
	jQuery( "#keq{question.uid} .keq-moveable" ).xdraggable("option","containment","#keq{question.uid}");
	jQuery( "#keq{question.uid} .keqDDArea .keq-placeholder" ).droppable("option","tolerance","fit");
	jQuery( "#keq{question.uid} .keqDDArea .keq-moveable-container" ).droppable("option","tolerance","fit");
    </f:else>
</f:if>
</ke:JavaScript>
<f:if condition="{question.isMandatory}">
<ke:JavaScript>
	/*
	 * When the length of all input field values is > 0
	 */
	jQuery( "#keq{question.uid}a{answer.uid} input[type=hidden]" ).on( "change", function() {
		check_keq{question.uid}a{answer.uid}();
	});
	check_keq{question.uid}a{answer.uid} = function() {
		var length = 0;
		jQuery("#keq{question.uid}a{answer.uid} input[type=hidden]").each(function(){
			if (jQuery(this).attr('keqchecktype') == 'ddImage'){
				length += jQuery(this).val().length;
			}
		});
		if (length > 0) jQuery("#keqMandatory{question.uid}").val(0);
		else jQuery("#keqMandatory{question.uid}").val(1);		
		checkMandatory();
	}
	check_keq{question.uid}a{answer.uid}();
</ke:JavaScript>
</f:if>