{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
	<dl class="wsqAnswer input">
		<f:form.hidden name="answerErrors[]" id="wsqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>
		<f:if condition="{answer.preText}"><dt>{answer.preText}&nbsp;</dt></f:if>
		<dt><f:form.textarea id="wsq{question.uid}a{answer.uid}" rows="{f:if(condition: answer.height, then: answer.height, else: '10')}" cols="{f:if(condition: answer.width, then: answer.width, else: '30')}" name="newResult[questions][{question.uid}][answers][{answer.uid}][value]" value="{f:if(condition: resultAnswer.value, then: resultAnswer.value, else: answer.inText)}" /></dt>
		<f:if condition="{answer.postText}"><dt>&nbsp;{answer.postText}</dt></f:if>
	</dl>
</f:alias>
<qu:JavaScript>
	/*
	 * Checks the Answer for the inside Text and replaces it with zero if focused
	 */
	jQuery("#wsq{question.uid}a{answer.uid}").focus( function() {
		if(this.value=='{answer.inText}') this.value='';
	});
</qu:JavaScript>
<f:if condition="{question.isMandatory}">
<qu:JavaScript>
	/*
	 * As soon as a Radio Button on clicked mandatory is fullfilled
	 */
	jQuery( "#wsq{question.uid}a{answer.uid}" ).on( "blur", function() {
		check_wsq{question.uid}a{answer.uid}();
	});
	check_wsq{question.uid}a{answer.uid} = function() {
		var length = 0;
		jQuery("#wsq{question.uid} textarea").each(function(){
			length += jQuery(this).val().length;
		});
		if (length > 0) jQuery("#wsqMandatory{question.uid}").val(0);
		else jQuery("#wsqMandatory{question.uid}").val(1);
		checkMandatory();
	}
	check_wsq{question.uid}a{answer.uid}();
</qu:JavaScript>
</f:if>
<!-- Javascript to check the Validationtypes for the InputField-->
<f:if condition="{answer.validationType}">
	<qu:JavaScript>
	/*
	 * Checks the Answer for the type of the chosen validation
	 */
	jQuery("#wsq{question.uid}a{answer.uid}").blur( function() {
		var a_id = {answer.uid};
		var val = jQuery(this).val();
		var this_id = jQuery(this).attr('id');
		jQuery.ajax({
			type: "GET",
			url: window.location.pathname,
			data: 'type=2667&tx_wsquestionnaire_questionnaire[type]=AnswerValidation&tx_wsquestionnaire_questionnaire[arguments][answerUid]='+a_id+'&tx_wsquestionnaire_questionnaire[arguments][value]='+val,
			async: false,
			success: function(data){
				xdata = jQuery.parseJSON(jQuery.trim(data));
				jQuery("#wsqAnswerError"+a_id).val(xdata.error);
				jQuery("#"+this_id+"info").html(xdata.info);

				checkAnswerErrors();
			},
			error: function(x,y,z){
				alert('An error has occurred:\n' + x + '\n' + y + '\n' + z);
			}
		});
	});
	</qu:JavaScript>
</f:if>