{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqAnswerRadio form-check">
		<f:form.radio class="form-check-input" id="wsq{question.uid}a{answer.uid}" name="newResult[questions][{question.uid}][answers][{question.uid}][answer]" value="{answer.uid}" checked="{f:if(condition: resultAnswer.answer.uid, then: 'true', else: 'false')}" />
		<label for="wsq{question.uid}a{answer.uid}" class="form-check-label">&nbsp;
			<f:if condition="{answer.text}">
				<f:then><f:format.html>{answer.text}</f:format.html></f:then>
				<f:else>{answer.title}</f:else>
			</f:if>
		</label>
		<f:if condition="{answer.showTextfield}">
			<f:form.textfield class="form-control" name="newResult[questions][{question.uid}][answers][{question.uid}][additionalValue]" disabled="{f:if(condition: resultAnswer.answer.uid, then: '', else: 'disabled')}" value="{f:if(condition: resultAnswer.additionalValue, then: resultAnswer.additionalValue, else: '')}"/>
		</f:if>
	</div>
</f:alias>
<!-- Javascript to check mandatory in RadioButton -->
<qu:JavaScript>
<f:if condition="{question.isMandatory}">
/*
 * As soon as a Radio Button on clicked mandatory is fullfilled
 */
jQuery( "#wsq{question.uid}a{answer.uid}" ).on( "click", function() {
    check_wsq{question.uid}a{answer.uid}();
});
check_wsq{question.uid}a{answer.uid} = function() {
	if ( jQuery("#wsq{question.uid} input[type=radio]:checked").length > 0) jQuery("#wsqMandatory{question.uid}").val(0);
	else jQuery("#wsqMandatory{question.uid}").val(1);
	checkMandatory();
}
check_wsq{question.uid}a{answer.uid}();
</f:if>
/*
 * Check Input fields on change
 */
jQuery( "#wsq{question.uid} input:radio" ).on( "change", function() {
	jQuery.each(jQuery( "#wsq{question.uid} input:radio" ), function(){
		if (jQuery(this).prop('checked')){
			jQuery(this).parent().children('input:text').removeAttr('disabled');
		} else {
			jQuery(this).parent().children('input:text').val('');
			jQuery(this).parent().children('input:text').prop('disabled','disabled');
		}
	});
});
</qu:JavaScript>