{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqRankingOrder wsqRanking">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden name="answerErrors[]" id="wsqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>
        <ul id="sortable_{answer.uid}">
    	<qu:rankingTerm answer="{answer}" question="{question}" as="term" result="{newResult}">
            <li id="wsq{question.uid}ranking{term.order}" class="ui-state-default wsqRankingTerm" answer="{term.uid}" question="{question.uid}">
                <f:alias map="{boxResultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: term.uid)}'}">
                    <f:form.hidden name="newResult[questions][{question.uid}][answers][{term.uid}][answer]" value="{term.uid}" />
                    <f:form.hidden class="wsqRangeTermValue" name="newResult[questions][{question.uid}][answers][{term.uid}][value]" value="{f:if(condition: boxResultAnswer.value, then: boxResultAnswer.value, else: term.order)}" />
                </f:alias>
                <f:if condition="{term.image}">
                    <f:then>
                        <f:image src="uploads/tx_wsquestionnaire/{term.image}" alt="{term.title}" width="{f:if(condition: term.width, then: term.width)}" height="{f:if(condition: term.height, then: term.height)}"/>
                    </f:then>
                    <f:else>
                        {term.title}
                    </f:else>
                </f:if>                
            </li>
        </qu:rankingTerm>
        </ul>
	</div>
    <qu:JavaScript>
jQuery(function() {
	var sortable_id = "#sortable_{answer.uid}";
	jQuery( sortable_id ).sortable({
		placeholder: "wsqRankingOrderPlaceholder",
		stop: function (event, ui){
			jQuery.each(jQuery(this).children(), function (index,value){
				jQuery(this).children('.wsqRangeTermValue').val(jQuery(this).index()+1).trigger('change');
			});                    
		}
	});
	jQuery( "#sortable" ).disableSelection();
});
    </qu:JavaScript>
</f:alias>
<f:if condition="{question.isMandatory}">
<qu:JavaScript>
	/*
	 * Rankings are always answered
	 */
	check_wsq{question.uid}a{answer.uid} = function() {
		/*<![CDATA[*//*]]>*/
                jQuery("#wsqMandatory{question.uid}").val(0);
                checkMandatory();
	}
	check_wsq{question.uid}a{answer.uid}();
</qu:JavaScript>
</f:if>