{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqRankingSelect wsqRanking">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden name="answerErrors[]" id="wsqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>
    	<qu:rankingTerm answer="{answer}" question="{question}" as="term">
            <div id="wsq{question.uid}ranking{term.order}" class="wsqRankingTerm" answer="{term.uid}" question="{question.uid}">
                <f:alias map="{boxResultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: term.uid)}'}">
                    <f:form.hidden name="newResult[questions][{question.uid}][answers][{term.uid}][answer]" value="{term.uid}" />
                    <f:form.select options="{term.selectItems}" name="newResult[questions][{question.uid}][answers][{term.uid}][value]" value="{f:if(condition: boxResultAnswer.value, then: boxResultAnswer.value, else: term.order)}"/>
                </f:alias>
                <f:if condition="{term.image}">
                    <f:then>
                        <f:image src="uploads/tx_wsquestionnaire/{term.image}" alt="{term.title}" width="{f:if(condition: term.width, then: term.width)}" height="{f:if(condition: term.height, then: term.height)}"/>
                    </f:then>
                    <f:else>
                        {term.title}
                    </f:else>
                </f:if>                
            </div>
        </qu:rankingTerm>
	</div>
</f:alias>
<f:if condition="{question.isMandatory}">
<qu:pageRenderer.addJsFooterInlineCode>
	/*
	 * Rankings are always answered
	 */
	check_wsq{question.uid}a{answer.uid} = function() {
		jQuery('#wsqMandatory{question.uid}').val(0);
		checkMandatory();
	}
	check_wsq{question.uid}a{answer.uid}();
</qu:pageRenderer.addJsFooterInlineCode>
</f:if>