<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Answer</h1>

<f:flashMessages />

<table  class="tx_kequestionnaire" >
	<tr>
		<th><f:translate key="tx_kequestionnaire_domain_model_answer.title" /></th>
		<th><f:translate key="tx_kequestionnaire_domain_model_answer.value" /></th>
		<th><f:translate key="tx_kequestionnaire_domain_model_answer.text" /></th>
		<th><f:translate key="tx_kequestionnaire_domain_model_answer.is_correct_answer" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{answers}" as="answer">
		<tr>
			<td><f:link.action action="show" arguments="{answer : answer}"> {answer.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{answer : answer}"> {answer.value}</f:link.action></td>
			<td><f:link.action action="show" arguments="{answer : answer}"> {answer.text}</f:link.action></td>
			<td><f:link.action action="show" arguments="{answer : answer}"> {answer.isCorrectAnswer}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{answer : answer}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{answer : answer}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Answer</f:link.action>
</f:section>