<div class="keqNavigationTypePages">
	<ul class="list-group mb-3">
	<f:for each="{questionnaire.navigationPages}" as="page">
		<f:if condition="{page} == {questionnaire.page}">
			<f:then>
				<li class="list-group-item" style="font-weight: bold;">
					<f:translate key="navigation.page" /> {page}
				</li>
			</f:then>
			<f:else>
				<li class="list-group-item">
					<a href="#" onclick="submitToPage({page});return false;"><f:translate key="navigation.page" /> {page}</a>
				</li>
			</f:else>
		</f:if>
	</f:for>
	</ul>
</div>