/* 
    Document   : Backend
    Created on : 19.03.2013, 13:47:22
    Author     : schwingler
    Description:
        Backend CSS for the Modules
*/
body {
	background: #fff;
}

/* tx-ws-questionnaire */
/* clearer */
.tx-ws-questionnaire .clearer {
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	clear: both;
}

.tx-ws-questionnaire {
    padding: 20px 5px 0 30px;
}

.tx-ws-questionnaire .module_list {
	padding: 10px;
}

.tx-ws-questionnaire .module_list ul{
	list-style: square;
	margin-left: 5px;
}

.tx-ws-questionnaire table {
	font-size: 11px;
	border-collapse: collapse;
	width: 100%;
}

.tx-ws-questionnaire table td,
.tx-ws-questionnaire table th {
	border: 1px solid black;
	padding: 2px;
}

.tx-ws-questionnaire .jqplot-point-label{
    font-size: 12px;
}

.tx-ws-questionnaire .jqplot-highlighter-tooltip{
    font-size: 10px;
	background: none repeat scroll 0 0 rgba(208, 208, 208, 0.8);
}

.tx-ws-questionnaire table .jqplot-table-legend td{
	border: 1px solid #ddd;
}

.tx-ws-questionnaire .mailPreview{
	background: #ddd;
	padding: 5px;
}

.tx-ws-questionnaire form.csvDownload ul {
	list-style: inside;
	padding: 5px;
}

.tx-ws-questionnaire form.csvDownload ul li {
	margin: 2px;
	padding: 2px;
}

.tx-ws-questionnaire form.csvDownload input{
	text-align: center;
}

.tx-ws-questionnaire .resultCounter ul li span{
	display: block;
	float: left;
	width: 100px;
}

.tx-ws-questionnaire .wsqLineAnalysis li{
	padding: 2px;
	border: 1px solid #ddd;
}

.tx-ws-questionnaire .finishedParticipation a{
	color: #3B8F11;
}

.tx-ws-questionnaire .openParticipation a{
	color: #CF3E0C;
}

.tx-ws-questionnaire .openParticipation a:hover {
	font-weight: bold;
}

.tx-ws-questionnaire .finishedParticipation a:hover {
	font-weight: bold;
}

.tx-ws-questionnaire .wsq_authCodes_exportlink {
	float: right;
}

.tx-ws-questionnaire ul.wsq_list {
	list-style-image:url("../../../ext_icon.gif");
}