/* tx-ke-questionnaire */
.tx-ke-questionnaire {
    text-align: left;
}

/* clearer */
.tx-ke-questionnaire .clearer {
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    clear: both;
}

#keq_loadingDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    color: red;
}

/* general form styles */
.tx-ke-questionnaire select,
.tx-ke-questionnaire textarea,
.tx-ke-questionnaire input[type="text"],
.tx-ke-questionnaire input[type="password"],
.tx-ke-questionnaire input[type="datetime"],
.tx-ke-questionnaire input[type="datetime-local"],
.tx-ke-questionnaire input[type="date"],
.tx-ke-questionnaire input[type="month"],
.tx-ke-questionnaire input[type="time"],
.tx-ke-questionnaire input[type="week"],
.tx-ke-questionnaire input[type="number"],
.tx-ke-questionnaire input[type="email"],
.tx-ke-questionnaire input[type="url"],
.tx-ke-questionnaire input[type="search"],
.tx-ke-questionnaire input[type="tel"],
.tx-ke-questionnaire input[type="color"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tx-ke-questionnaire textarea {
    height: auto;
}

.tx-ke-questionnaire textarea,
.tx-ke-questionnaire input[type="text"],
.tx-ke-questionnaire input[type="password"],
.tx-ke-questionnaire input[type="datetime"],
.tx-ke-questionnaire input[type="datetime-local"],
.tx-ke-questionnaire input[type="date"],
.tx-ke-questionnaire input[type="month"],
.tx-ke-questionnaire input[type="time"],
.tx-ke-questionnaire input[type="week"],
.tx-ke-questionnaire input[type="number"],
.tx-ke-questionnaire input[type="email"],
.tx-ke-questionnaire input[type="url"],
.tx-ke-questionnaire input[type="search"],
.tx-ke-questionnaire input[type="tel"],
.tx-ke-questionnaire input[type="color"] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.tx-ke-questionnaire textarea:focus,
.tx-ke-questionnaire input[type="text"]:focus,
.tx-ke-questionnaire input[type="password"]:focus,
.tx-ke-questionnaire input[type="datetime"]:focus,
.tx-ke-questionnaire input[type="datetime-local"]:focus,
.tx-ke-questionnaire input[type="date"]:focus,
.tx-ke-questionnaire input[type="month"]:focus,
.tx-ke-questionnaire input[type="time"]:focus,
.tx-ke-questionnaire input[type="week"]:focus,
.tx-ke-questionnaire input[type="number"]:focus,
.tx-ke-questionnaire input[type="email"]:focus,
.tx-ke-questionnaire input[type="url"]:focus,
.tx-ke-questionnaire input[type="search"]:focus,
.tx-ke-questionnaire input[type="tel"]:focus,
.tx-ke-questionnaire input[type="color"]:focus,
.tx-ke-questionnaire .uneditable-input:focus {
    border-color: rgba(0, 152, 161, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 152, 161, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 152, 161, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 152, 161, 0.6);
}

.tx-ke-questionnaire input[type="radio"],
.tx-ke-questionnaire input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    *margin-top: 0;
    line-height: normal;
    cursor: pointer;
}

.tx-ke-questionnaire input[type="file"],
.tx-ke-questionnaire input[type="image"],
.tx-ke-questionnaire input[type="submit"],
.tx-ke-questionnaire input[type="reset"],
.tx-ke-questionnaire input[type="button"],
.tx-ke-questionnaire input[type="radio"],
.tx-ke-questionnaire input[type="checkbox"] {
    width: auto;
}

.tx-ke-questionnaire input[type="submit"] {
    height: 30px
}

.tx-ke-questionnaire label,
.tx-ke-questionnaire input,
.tx-ke-questionnaire button,
.tx-ke-questionnaire select,
.tx-ke-questionnaire textarea {
    max-width: 100%;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}



.tx-ke-questionnaire .keqButtons {
    margin: 0 0 20px 0;
}

.tx-ke-questionnaire .keqButtons:after {
    clear: both;
}

.tx-ke-questionnaire .prev {
    float: left;
}

.tx-ke-questionnaire .next {
    float: right;
}

.tx-ke-questionnaire .prev {
    background: rgb(227, 227, 227); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2EzYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(163, 163, 163, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(227, 227, 227, 1)), color-stop(100%, rgba(163, 163, 163, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(163, 163, 163, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(163, 163, 163, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(227, 227, 227, 1) 0%, rgba(163, 163, 163, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(227, 227, 227, 1) 0%, rgba(163, 163, 163, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#a3a3a3', GradientType=0); /* IE6-8 */
}

.tx-ke-questionnaire .prev:hover {
    background: rgb(240, 240, 240); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(201, 201, 201, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(201, 201, 201, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(201, 201, 201, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(201, 201, 201, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(201, 201, 201, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(201, 201, 201, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#c9c9c9', GradientType=0); /* IE6-8 */

}


/* ****
   * question boxes
   **** */
.tx-ke-questionnaire .keqQuestion {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #d3d3d3;
    margin: 0 0 20px 0;
    box-shadow: 0 4px 6px -6px rgba(99, 99, 99, 0.2);
}

.tx-ke-questionnaire .keqQuestionTitle {
    overflow: hidden;
    padding: 12px 20px;
    font-family: inherit;
    font-weight: normal;
    font-size: 1.125em;
    color: #222222;

    text-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 0 white inset, 0 1px 0 0 white;
    background-color: #e3e3e3;
    background-image: url("../Images/bgNoise1.png");
    border-bottom: 1px solid #c2c2c2;
}

.tx-ke-questionnaire .keqQuestionTitle p {
    float: left;
    width: 85%;
    margin-top: 0.5em;
    margin-left: 24px;
}

@media (max-width: 767px) {
    .tx-ke-questionnaire .keqNavigationTypeDisplay ul li p {
        width: 80%;
    }

    .tx-ke-questionnaire .keqQuestionTitle p {
        width: 70%
    }

    .tx-ke-questionnaire .keqAnswerBox {
        overflow-x: scroll
    }
}

.tx-ke-questionnaire .keqQuestionTitle .keqQuestionTitleline {
    margin-left: 1.25em;
    font-weight: bold
}

.tx-ke-questionnaire .keqQuestionTitle .question_number {
    float: left;
    font-weight: bold
}

.tx-ke-questionnaire .keqAnswerBox {
    padding: 12px 20px 12px 43px;
    color: #000000;
}

.tx-ke-questionnaire .keqAnswerRadio label,
.tx-ke-questionnaire .keqAnswerCheckbox label {
    min-height: 20px;
    padding-left: 20px;
}

.tx-ke-questionnaire .keqAnswerWrap label {
    display: block;
    margin-bottom: 5px;
}

.tx-ke-questionnaire .keqAnswerWrap label.radio_checkbox {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    width: 18px;
    height: 18px
}

#xx#yy, .tx-ke-questionnaire input[type="checkbox"], #xx#yy, .tx-ke-questionnaire input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

#xx#yy, .tx-ke-questionnaire input[type="radio"] + label,
#xx#yy, .tx-ke-questionnaire input[type="checkbox"] + label {
    background: transparent url("../Images/s-radio.png") no-repeat 0 -38px;
    padding: 0 20px;
}

.tx-ke-questionnaire input[type="checkbox"] + label {
    background-position: 0 -55px
}

.tx-ke-questionnaire input[type="radio"]:checked + label {
    background-position: 0 0;
}

.tx-ke-questionnaire input[type="checkbox"]:checked + label {
    background-position: 0 -17px
}

.tx-ke-questionnaire .keqAnswerRadio label input[type="radio"],
.tx-ke-questionnaire .keqAnswerCheckbox label input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.tx-ke-questionnaire .postText {
    position: relative;
    top: -5px;
    padding: 0 0 0 8px;
    color: #545454;
}

/* info Text */
.tx-ke-questionnaire .keqMandatory {
    padding: 8px 14px 8px 14px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    display: none;
    font-size: 14px;
    line-height: 20px;
}

/* ClozeText Drag&Drop */
.tx-ke-questionnaire .keq-placeholder.cloze-text {
    background-color: #f1fdfe;
    border: 1px solid #FFFCDF;
    display: inline-block;
    font-size: 11px;
    height: 25px;
    line-height: 20px;
    margin: 0 0 -5px;
    padding: 0 10px;
    text-align: center;
    width: 180px;
}

.tx-ke-questionnaire .keqAnswerColumns .keq-moveable.moveable-text {
    background-color: #fffcdf;
    border: 1px solid #dfdbb5;
    display: inline-block;
    font-size: 11px;
    margin: 3px 0 3px 0;
    padding: 2px 10px;
    line-height: 20px;
    text-align: center;
    width: 165px;
    cursor: pointer;
}

.tx-ke-questionnaire .keq-baloon {
    position: relative;
}

.tx-ke-questionnaire .keq-baloon textarea {
    position: absolute;
    padding: 5px;
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYTNhMyIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EzYTNhMyIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(163, 163, 163, 0.7) 0%, rgba(163, 163, 163, 0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(163, 163, 163, 0.7)), color-stop(100%, rgba(163, 163, 163, 0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(163, 163, 163, 0.7) 0%, rgba(163, 163, 163, 0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(163, 163, 163, 0.7) 0%, rgba(163, 163, 163, 0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(163, 163, 163, 0.7) 0%, rgba(163, 163, 163, 0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(163, 163, 163, 0.7) 0%, rgba(163, 163, 163, 0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3a3a3a3', endColorstr='#b3a3a3a3', GradientType=0); /* IE6-8 */
}

.tx-ke-questionnaire .keq-dd-area-container {
    position: relative;
    margin-bottom: 10px;
}

.tx-ke-questionnaire .dd-area {
    position: absolute;
}

.tx-ke-questionnaire .dd-area-highlight-hover,
.tx-ke-questionnaire .dd-area-highlight:hover {
    background-image: url("../Images/transparent30.png");
}

.tx-ke-questionnaire .keq-dd-area-title {
    padding: 4px;
}

.tx-ke-questionnaire .keq-moveable.moveable-image {
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    z-index: 500;
    margin: 3px;
    float: left;
}

.tx-ke-questionnaire .keqDDArea .keq-moveable-container {
    padding: 10px 5px 10px 5px;
    margin: 5px 0 5px 0;
    background-color: #fff;
}

.tx-ke-questionnaire .keqAnswerColumns .keqDDArea,
.tx-ke-questionnaire .keqAnswerColumns .keqAnswerClozeTextDD,
.tx-ke-questionnaire .keqAnswerColumns .keq-baloon {
    margin-left: 18px
}

.tx-ke-questionnaire .keqAnswerColumns .keqAnswerClozeTextDD .keq-moveable-container {
    padding-left: 0
}

.tx-ke-questionnaire .keq-placeholder.dd-sequence {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    display: inline-block;
    padding: 10px;
    line-height: 1px;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerColumns {
    float: left;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerColumns div {
    padding: 5px;
}


/*
 Additions For Slider
*/
.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSilderLeftLabel {
    float: left;
    padding: 0 15px 10px 0;
    line-height: 1.1em;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSilderRightLabel {
    float: left;
    padding: 0 0 10px 15px;
    line-height: 1.1em;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSilderValueShow {
    float: left;
    padding: 0 0 10px 15px;
    line-height: 1.1em;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSlider {
    float: left;
    padding: 0;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-size: 1.1em;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSlider .ui-slider-handle {
    padding: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #3B78EF;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-size: 1.1em;
}

.tx-ke-questionnaire .ui-slider {
    position: relative;
    text-align: left;
}

.tx-ke-questionnaire .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.tx-ke-questionnaire .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.tx-ke-questionnaire .ui-slider-horizontal {
    height: .8em;
}

.tx-ke-questionnaire .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.tx-ke-questionnaire .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.tx-ke-questionnaire .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.tx-ke-questionnaire .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.tx-ke-questionnaire .ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.tx-ke-questionnaire .ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.tx-ke-questionnaire .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.tx-ke-questionnaire .ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.tx-ke-questionnaire .ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/*
 Additions For Semantic Differential
*/
.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferential {
    float: left;
    padding: 0;
    margin-bottom: 5px;
    line-height: 1.1em;
    display: block;
    border-bottom: 1px solid #e2e2e2;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep {
    float: left;
    text-align: center;
    width: 18px !important
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStepLabel {
    text-align: center !important;
    padding: 0 0 5px 0;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep {
    text-align: center;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep input[type="radio"] {
    clip: auto;
    position: relative;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStepLabel {
    text-align: center;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep input[type="radio"] {
    margin-top: 20px
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialLeftLabel {
    float: left;
    padding: 0 15px 10px 0;
    margin-top: 0.6em;
    display: block;
    width: 125px;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep .keqSematicDifferentialStepLabel + input[type="radio"] {
    margin-top: 0
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialRightLabel {
    float: left;
    padding: 0 0 10px 15px;
    margin-top: 0.6em;
    display: block;
    width: 125px;
    text-align: left;
}

.tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialValueShow {
    float: left;
    padding: 0 0 10px 15px;
    margin-top: 0.6em;
}

.tx-ke-questionnaire .keqAnswerBox .keqSematicDifferential label.radio_checkbox {
    position: relative;
    top: -18px
}

/*
 Additions For Text Element
*/
.tx-ke-questionnaire .keqTextElement {
    padding: 5px 0;
}

/*
 Additions For Extended Matrix
*/
.tx-ke-questionnaire .keqExtendedMatrix table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tx-ke-questionnaire .keqExtendedMatrix .keqEmExthead {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #E3E3E3;
    border-left: 2px solid #B7B7B7;
}

.tx-ke-questionnaire .keqExtendedMatrix .keqEmHead {
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #E3E3E3;
}

.tx-ke-questionnaire .keqExtendedMatrix .keqEmHead.keqEmHead_0 {
    border-left: 2px solid #B7B7B7;
}

.tx-ke-questionnaire .keqExtendedMatrix .keqEmCol {
    text-align: center;
    padding: 3px 5px;
    border: 1px solid #E3E3E3;
}

.tx-ke-questionnaire .keqExtendedMatrix .keqEmCol.keqEmCol_0 {
    border-left: 2px solid #B7B7B7;
}

.tx-ke-questionnaire .keqImage {
    padding: 5px;
}

.tx-ke-questionnaire .keqImageLeft {
    float: left;
}

.tx-ke-questionnaire .keqImageRight {
    float: right;
}

/*
	Additions for Progressbar
*/
.tx-ke-questionnaire #progressbar-wrap {
    position: relative;
}

.tx-ke-questionnaire #keqPageProgressbar {
    border-radius: 0;
    padding: 7px 4px 0;
    background-color: #bdbdbd;
}

.tx-ke-questionnaire #keqPageProgressbar .ui-progressbar-value {
    margin-bottom: 3px;
    background: rgb(240, 240, 240); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYxYzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 241, 198, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 1)), color-stop(100%, rgba(255, 241, 198, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 241, 198, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 241, 198, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240, 240, 240, 1) 0%, rgba(255, 241, 198, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240, 240, 240, 1) 0%, rgba(255, 241, 198, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#fff1c6', GradientType=0); /* IE6-8 */
    border-radius: 0;
    height: 80%;
}

.tx-ke-questionnaire .keqProgressbar {
    margin-bottom: 10px;
}

.tx-ke-questionnaire .ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.tx-ke-questionnaire .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.tx-ke-questionnaire .ui-progressbar .ui-progressbar-overlay {
    background: url("images/animated-overlay.gif");
    height: 100%;
    border: 5px solid #ff0000;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

.tx-ke-questionnaire .ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
}

.tx-ke-questionnaire .progress-label {
    position: relative;
    width: 120px;
    height: 34px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2em;
    color: #636363;
    text-align: center;
    line-height: 16px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.tx-ke-questionnaire .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.tx-ke-questionnaire .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.tx-ke-questionnaire .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}

.tx-ke-questionnaire .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}

.tx-ke-questionnaire .ui-widget-content {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}

.tx-ke-questionnaire .ui-widget-header {
    background: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}

/*
	Additions for Scrollable Avatar
*/

.tx-ke-questionnaire .keqAnswerBox .keqAnswerColumns .keqAvatar div {
    padding: 0;
}

/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.tx-ke-questionnaire .keqAvatar .scrollable {

    /* required settings */
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 120px;
    padding: 0;
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.tx-ke-questionnaire .keqAvatar .scrollable .items {
    /* this cannot be too large */
    width: 20000em;
    position: absolute;
    clear: both;
    padding: 0;
}

.tx-ke-questionnaire .keqAvatar .items div {
    float: left;
    width: 680px;
    padding: 0;
}

/* single scrollable item */
.tx-ke-questionnaire .keqAvatar .scrollable img {
    float: left;
}

/* active item */
.tx-ke-questionnaire .keqAvatar .scrollable .active {
    position: relative;
    cursor: default;
}


/* this makes it possible to add next button beside scrollable */
.tx-ke-questionnaire .keqAvatar .scrollable {
    float: left;
}

/* prev, next, prevPage and nextPage buttons */
.tx-ke-questionnaire .keqAvatar a.browse {
    background: url(../Images/scrollable_arrows.png) no-repeat;
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    cursor: pointer;
    font-size: 1px;
    margin: 2px 5px 0 5px;
}

/* right */
.tx-ke-questionnaire .keqAvatar a.right {
    background-position: 0 -30px;
    clear: right;
    margin-right: 0;
}

.tx-ke-questionnaire .keqAvatar a.right:hover {
    background-position: -30px -30px;
}

.tx-ke-questionnaire .keqAvatar a.right:active {
    background-position: -60px -30px;
}


/* left */
.tx-ke-questionnaire .keqAvatar a.left {
    margin-left: 0;
}

.tx-ke-questionnaire .keqAvatar a.left:hover {
    background-position: -30px 0;
}

.tx-ke-questionnaire .keqAvatar a.left:active {
    background-position: -60px 0;
}

/* up and down */
.tx-ke-questionnaire .keqAvatar a.up, a.down {
    background: url(../Images/scrollable_arrows.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
.tx-ke-questionnaire .keqAvatar a.up:hover {
    background-position: -30px 0;
}

.tx-ke-questionnaire .keqAvatar a.up:active {
    background-position: -60px 0;
}

/* down */
.tx-ke-questionnaire .keqAvatar a.down {
    background-position: 0 -30px;
}

.tx-ke-questionnaire .keqAvatar a.down:hover {
    background-position: -30px -30px;
}

.tx-ke-questionnaire .keqAvatar a.down:active {
    background-position: -60px -30px;
}


/* disabled navigational button */
.tx-ke-questionnaire .keqAvatar a.disabled {
    visibility: hidden !important;
}


/* Matrix*/
.tx-ke-questionnaire .keqAnswerBox .keqMatrix,
.tx-ke-questionnaire .keqAnswerBox .keqExtendedMatrix {
    margin-left: 0;
}

.tx-ke-questionnaire .keqAnswerBox .keq-matrix {
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
}

.tx-ke-questionnaire .keqAnswerBox .keqMatrix .keq-matrix .keqAnswerSingleInput div {
    padding: 0;
    margin: 0 10px
}

.tx-ke-questionnaire .keqAnswerBox .keqMatrix .keq-matrix .keqAnswerSingleInput div input {
    margin-bottom: 0
}

.tx-ke-questionnaire .keqAnswerBox .keqMatrix table tbody tr > :first-child {
    border: 1px solid #ff0000
}

.tx-ke-questionnaire .keqAnswerBox .keq-matrix th {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0099A1;
}

.tx-ke-questionnaire .keqAnswerBox .keq-matrix th,
.tx-ke-questionnaire .keqAnswerBox .keq-matrix td {
    padding: 10px;
    border-top: 1px solid #E5E5E5;
}

@media (max-width: 767px) {
    .tx-ke-questionnaire .keqAnswerColumns .keqMatrix,
    .tx-ke-questionnaire .keqAnswerColumns .keqExtendedMatrix,
    .tx-ke-questionnaire .keqAnswerColumns .keq-baloon {
        overflow-x: scroll
    }
}

/* add a clone to a matrix */

.tx-ke-questionnaire .keqMatrixAddClone {
    cursor: pointer;
}

.tx-ke-questionnaire .keqClonableRow {
    display: none;
}

.tx-ke-questionnaire .keqRankingOrder ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

.tx-ke-questionnaire .keqRankingOrder ul li {
    border: 1px solid #ddd;
    list-style-type: none;
    height: 1.6em;
    line-height: 1.4em;
    font-size: 1.2em;
    margin: 0 5px 5px;
    padding: 5px;
    cursor: pointer;
}

.tx-ke-questionnaire .keqRankingOrderPlaceholder {
    background-color: #ddd;
}

.tx-ke-questionnaire #keqViewResult {
    position: relative;
}

.tx-ke-questionnaire #keqViewResult .disableLayer {
    background: none repeat scroll 0 0 rgba(20, 20, 20, 0.1);
    height: 100%;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 5000;
}

/* Tooltip */
.tx-ke-questionnaire .keqHelp {
    float: right;
    margin-right: 2.2em;
    margin-top: 0.37em;
    margin-left: 0.625em;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 0 dotted #4dbcf3;
}

.tx-ke-questionnaire .keqHelp span {
    display: block;
    width: 1.4em;
    background: none repeat scroll 0 0 #a3a3a3;
    border-radius: 1.4em;
    box-shadow: 0.125em 0.175em 0 0 rgba(99, 99, 99, 0.125);
    -webkit-box-shadow: 0.125em 0.175em 0 0 rgba(99, 99, 99, 0.125);
    color: #FFF004;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    text-shadow: none

}

.tx-ke-questionnaire .keqHelp + p {
    float: left;
    margin-left: 1.4em
}

.tx-ke-questionnaire .keqHelp:hover {
    cursor: pointer;
    background: transparent;
    z-index: 100;
}

.tx-ke-questionnaire .keqHelp .keqHelpText {
    display: none;
    margin-top: 1.05em;
    margin-left: -11.5em;
    text-decoration: none;
    background-color: #e3e3e3
}

.tx-ke-questionnaire .keqHelp .keqHelpText p {
    font-weight: normal;
    font-size: 0.8em;
    letter-spacing: 1px
}

.tx-ke-questionnaire .keqHelp:hover .keqHelpText {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 5px 10px;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    background: #f0f0f0;
    color: #000000;
    text-align: left;
}

/* Styles for Analysis Form */
.tx-ke-questionnaire #keq_analysis {
    position: relative;
    padding: 20px;
    color: #222;
    font-size: 1.125em;
    background-color: #F0F0F0;
    border: 1px solid #D3D3D3;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 0 #FFFFFF;
}

.tx-ke-questionnaire #keq_analysis .main_select {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.tx-ke-questionnaire #keq_analysis .main_select {
    position: relative;
    top: -20px;
    left: -20px;
    border-bottom: 1px solid #C2C2C2;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 0 #FFFFFF;
    padding: 20px 20px 10px 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 100%;
}

.tx-ke-questionnaire #keq_analysis .keq_analysis_q_select {
    width: 17em
}

.tx-ke-questionnaire #keq_analysis h3 {
    position: relative;
    width: 100%;
    left: -20px;
    padding: 10px 20px 10px 20px;
    color: #222222;
    font-family: inherit;
    font-size: 1.125em;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;

    background-color: #E3E3E3;
    background-image: url("../Images/bgNoise1.png");
    border-bottom: 1px solid #C2C2C2;
    box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 0 #FFFFFF;
}

.tx-ke-questionnaire #keq_analysis h4 {
    margin: 0
}

.tx-ke-questionnaire #keq_analysis .keqLineAnalysis {
    background-color: #f7f7f7;
    list-style-position: outside;
    padding: 0;
    padding-left: 25px
}

.tx-ke-questionnaire #keq_analysis .keqLineAnalysis li {
    padding: 5px;
    color: #414141;
    list-style-type: square;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #fff
}

.tx-ke-questionnaire #keq_analysis .keqLineAnalysis li:first-child {
    border-top: none
}

.tx-ke-questionnaire #keq_analysis .keqLineAnalysis li:last-child {
    border-bottom: none
}

.tx-ke-questionnaire #keq_analysis .jqplot-pie-series {
    color: #fff;
    font-size: 80%;
}

.tx-ke-questionnaire .jqplot-point-label {
    font-size: 12px;
}

.tx-ke-questionnaire .jqplot-highlighter-tooltip {
    font-size: 10px;
    background: none repeat scroll 0 0 rgba(208, 208, 208, 0.8);
}

/*.tx-ke-questionnaire #keq_analysis .jqplot-target {max-width: 100%;}*/

.tx-ke-questionnaire #keq_analysis .jqplot-target table td.jqplot-table-legend-label {
    max-width: 300px
}

@media (max-width: 480px) {
    .tx-ke-questionnaire #keq_analysis {
        overflow-x: scroll
    }

    .tx-ke-questionnaire #keq_analysis .jqplot-target {
        max-width: none
    }

    .tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialRightLabel {
        margin-left: 262px;
        margin-top: -6.2em !important
    }
}

@media (max-width: 768px) {
    .tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider * {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

    .tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialStep {
        width: 26px !important
    }

    .tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialLeftLabel {
        margin-left: 5px
    }

    .tx-ke-questionnaire .keqAnswerBox .keqAnswerSlider .keqSematicDifferentialRightLabel {
        float: right !important;
        margin-top: 0 !important
    }
}

/* Point-Display at last page */
.tx-ke-questionnaire .keqPointsWrap {
    margin-top: 5px;
}

.tx-ke-questionnaire .keqPointsWrap .keqPointsTable .numeric {
    text-align: right;
}

/* Range-Display at last page */
.tx-ke-questionnaire .keqRangeWrap {
    margin-top: 5px;
}

.tx-ke-questionnaire .keqRangeWrap .keqRangeTitle {
    font-weight: bold;
}

.tx-ke-questionnaire .keqRangeWrap .keqRangeContent {
    margin-top: 5px;
}

.tx-ke-questionnaire .quotaChartHeader {
    font-weight: bold;
}