#wsqViewResult .wsq-dd-area-container .wsq-placeholder{
	background-color: #ddd;
	border: 1px solid black;
	float: left;
	margin-right: 20px;
}

#wsqViewResult .wsq-cloze-term{
	padding: 2px;
	border: 1px solid black;
	margin-right: 20px;
	float: left;
	width: 100px;
}

div.csc-textpic-intext-right .csc-textpic-imagewrap {
	float: right;
}

div.csc-textpic .csc-textpic-imagewrap figure, div.csc-textpic figure.csc-textpic-imagewrap {
    display: table;
    margin: 0;
}

#wsqViewResult .wsqPdfAvatarImageParts .items div{
	float: left;
	width: auto;
}

#wsqViewResult .wsqPdfAvatarImageParts {
	clear: right;
}

#wsqViewResult .wsqPdfAvatarImageParts {
	clear: right;
}

#wsqViewResult .compareQuestion {
	border: 1px solid #ff0000;
}
