<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:qu="http://typo3.org/ns/WapplerSystems/WsQuestionnaire/ViewHelpers">

	<f:section name="Render">

		<div class="card-header d-flex w-100 justify-content-between">
			<f:if condition="{question.showTitle}">
				<span class="keqQuestionTitleline">{question.title} <f:if condition="{question.isMandatory}"><span class="mandatory">*</span></f:if> </span>
			</f:if>

			<f:if condition="{question.helpText}"><f:render partial="HelpText" arguments="{helpText:question.helpText}" /></f:if>


			<f:format.html>{question.text}</f:format.html>
		</div>


	</f:section>
</div>