{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:alias map="{resultCol: '{ke:getResultAnswerMatrix(result: newResult, questionUid: question.uid, rowUid: row.uid, columnUid: column.uid, clone: clone)}'}">
    <div class="keqAnswerWrap keqAnswerSingleInput">
        <f:form.hidden name="answerErrors[]" id="keqAnswerErrorc{colum.uid}r{row.uid}" value="0" />
        <f:if condition="{type} == 'cloned'">
            <f:then>
                <f:form.hidden name="newResult[questions][{question.uid}][answers][{row.uid}][cloned][{column.uid}][text][{clone}]" value="1" />
                <f:if condition="{column.preText}"><label>{column.preText}</label></f:if>
                <div><f:form.textfield  name="newResult[questions][{question.uid}][answers][{row.uid}][cloned][{column.uid}][value][{clone}]" value="{f:if(condition: resultCol.value, then: resultCol.value, else: answer.inText)}" size="{f:if(condition: column.width, then: column.width, else: '30')}" maxlength="{f:if(condition: column.maxChars, then: column.maxChars, else: '255')}" /></div>
                <f:if condition="{column.postText}"><div class="postText">{column.postText}</div></f:if>
            </f:then>
            <f:else>
                <f:form.hidden name="newResult[questions][{question.uid}][answers][{row.uid}][answer]" value="{row.uid}" />                
                <f:form.hidden name="newResult[questions][{question.uid}][answers][{row.uid}][matrixPos][{column.uid}][text]" value="1" />
                <div class="answerInfo" id="keq{question.uid}c{colum.uid}r{row.uid}info"></div>
                <f:if condition="{column.preText}"><label>{column.preText}</label></f:if>
                <div><f:form.textfield id="keq{question.uid}c{colum.uid}r{row.uid}" name="newResult[questions][{question.uid}][answers][{row.uid}][matrixPos][{column.uid}][value]" value="{f:if(condition: resultCol.value, then: resultCol.value, else: answer.inText)}" size="{f:if(condition: column.width, then: column.width, else: '30')}" maxlength="{f:if(condition: column.maxChars, then: column.maxChars, else: '255')}" /></div>
                <f:if condition="{column.postText}"><div class="postText">{column.postText}</div></f:if>
            </f:else>
        </f:if>
	</div>
</f:alias>
<!-- Javascript to check the Validationtypes for the InputField-->
<f:if condition="{column.validationType}">
	<ke:JavaScript>
	/*
	 * Checks the Answer for the type of the chosen validation
	 */
	jQuery("#keq{question.uid}c{colum.uid}r{row.uid}").blur( function() {
		var c_id = {column.uid};
		var r_id = {row.uid};
		var val = jQuery(this).val();
		var this_id = jQuery(this).attr('id');
		jQuery.ajax({
			type: "GET",
			url: window.location.pathname,
			data: 'type=2667&tx_kequestionnaire_questionnaire[type]=AnswerValidation&tx_kequestionnaire_questionnaire[arguments][answerUid]='+c_id+'&tx_kequestionnaire_questionnaire[arguments][value]='+val,
			async: false,
			success: function(data){
				xdata = jQuery.parseJSON(jQuery.trim(data));
				jQuery("#keqAnswerErrorc"+c_id+"r"+r_id).val(xdata.error);
				jQuery("#"+this_id+"info").html(xdata.info);

				checkAnswerErrors();
			},
			error: function(x,y,z){
				alert('An error has occurred:\n' + x + '\n' + y + '\n' + z);
			}
		});
	});
	</ke:JavaScript>
</f:if>
