<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<f:flashMessages />
	<f:form action="{action}" controller="Result" objectName="{newResult}" object="{newResult}" method="post">
		<f:for each="{questions}" as="question">
			<div class="keqQuestion">{question.title}</div>
			<div class="keqAnswerBox">
				<f:for each="{question.answers}" as="answer">
					<dl class="keqAnswer">
						<dt><f:form.radio property="value" value="{answer.uid}" /></dt>
						<dd>{answer.title}</dd>
					</dl>
				</f:for>
			</div>
		</f:for>
	</f:form>
</f:section>