<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<f:form action="{action}" controller="Result" objectName="{newResult}" object="{newResult}" method="post">
		<f:for each="{questions}" as="question">
			<div class="keqQuestion">{question.title}</div>
			<div class="keqAnswerBox">
				<f:for each="{question.answers}" as="answer">
					<dl class="keqAnswer">
						<dt><f:form.radio property="value" value="{answer.uid}" /></dt>
						<dd>{answer.title}</dd>
					</dl>
				</f:for>
			</div>
		</f:for>
	</f:form>
</f:section>