{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqDDArea">
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>
		<div class="wsq-dd-area-container">
			<qu:ddAreaExport answer="{answer}" question="{question}" result="{newResult}" as="exportImage">
				<f:image src="typo3temp/ws_questionnaire/{exportImage}" alt="test" />
			</qu:ddAreaExport>
		</div>
		<div class="wsq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
            <qu:ddImage answer="{answer}" question="{question}" as="dd">
				<f:alias map="{boxResultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: dd.image.uid)}'}">
					<f:if condition="{boxResultAnswer.value}">
						<f:then>&nbsp;</f:then>
						<f:else><f:image src="uploads/tx_wsquestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}"/></f:else>
					</f:if>
				</f:alias> 
			</qu:ddImage>
		</div>
		
	</div>
</f:alias>