{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqDDAreaSequence wsqDDArea">
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>

		<div class="wsq-dd-area-container">
			<qu:ddImage answer="{answer}" question="{question}" as="area">
				<div value="{area.counter}" class="wsq-placeholder" style="width: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px; height: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px">&nbsp;</div>
			</qu:ddImage>
		</div>
		<div class="wsq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
			<qu:ddImage answer="{answer}" question="{question}" as="dd">
				<f:if condition="{dd.image.image}">
					<f:then>
						<f:image src="uploads/tx_wsquestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}"/>
					</f:then>
					<f:else>
						{dd.image.title}
					</f:else>
				</f:if>
			</qu:ddImage>
		</div>
	</div>
</f:alias>