{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="keqAnswerWrap keqDDAreaSequence keqDDArea">
		<div class="answerInfo" id="keq{question.uid}a{answer.uid}info"></div>

		<div class="keq-dd-area-container">
			<ke:ddImage answer="{answer}" question="{question}" as="area">
				<div value="{area.counter}" class="keq-placeholder" style="width: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px; height: {f:if(condition: area.image.height, then: area.image.height, else: '100')}px">&nbsp;</div>
			</ke:ddImage>
		</div>
		<div class="keq-moveable-container" style="min-height:{f:if(condition: answer.height, then: answer.height, else: '100')}px">
			<ke:ddImage answer="{answer}" question="{question}" as="dd">
				<f:if condition="{dd.image.image}">
					<f:then>
						<f:image src="uploads/tx_kequestionnaire/{dd.image.image}" alt="{dd.image.title}" width="{f:if(condition: dd.image.width, then: dd.image.width)}" height="{f:if(condition: dd.image.height, then: dd.image.height)}"/>
					</f:then>
					<f:else>
						{dd.image.title}
					</f:else>
				</f:if>
			</ke:ddImage>
		</div>
	</div>
</f:alias>