{namespace qu=WapplerSystems\WsQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{qu:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="wsqAnswerWrap wsqAnswerSlider">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden id="wsqValue{question.uid}a{answer.uid}" name="newResult[questions][{question.uid}][answers][{answer.uid}][value]" value="{f:if(condition: resultAnswer.value, then: resultAnswer.value, else: answer.minValue)}" />
		<f:form.hidden name="answerErrors[]" id="wsqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="wsq{question.uid}a{answer.uid}info"></div>
		<f:if condition="{answer.leftLabel"><div class="wsqSilderLeftLabel">{answer.leftLabel}</div></f:if>
		<div class="wsqSlider" id="wsq{question.uid}a{answer.uid}Slider" style="width:{f:if(condition: answer.width, then: answer.width, else: '400px')}">
			<f:for each="{answer.sliderSteps}" key="nr" as="stepVal">
				<f:if condition="{stepVal} == {resultAnswer.value}">
					<span style="margin-left:{nr}px">O</span>
				</f:if>
			</f:for>
		</div>
		<f:if condition="{answer.RightLabel"><div class="wsqSilderRightLabel">{answer.rightLabel}</div></f:if>
		<div class="wsqSilderValueShow"><f:translate key="LLL:EXT:ws_questionnaire/Resources/Private/Language/locallang.xml:slider.selectedValue" />: <span id="wsqShowValue{question.uid}a{answer.uid}">{f:if(condition: resultAnswer.value, then: resultAnswer.value, else: answer.minValue)}</span></div>
	</div>

</f:alias>