{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:alias map="{resultAnswer: '{ke:getResultAnswer(result: newResult, questionUid: question.uid, answerUid: answer.uid)}'}">
	<div class="keqAnswerWrap keqAnswerSlider">
		<f:form.hidden name="newResult[questions][{question.uid}][answers][{answer.uid}][answer]" value="{answer.uid}" />
		<f:form.hidden id="keqValue{question.uid}a{answer.uid}" name="newResult[questions][{question.uid}][answers][{answer.uid}][value]" value="{f:if(condition: resultAnswer.value, then: resultAnswer.value, else: answer.minValue)}" />
		<f:form.hidden name="answerErrors[]" id="keqAnswerError{answer.uid}" value="0" />
		<div class="answerInfo" id="keq{question.uid}a{answer.uid}info"></div>
		<f:if condition="{answer.leftLabel"><div class="keqSilderLeftLabel">{answer.leftLabel}</div></f:if>
		<div class="keqSlider" id="keq{question.uid}a{answer.uid}Slider" style="width:{f:if(condition: answer.width, then: answer.width, else: '400px')}">
			<f:for each="{answer.sliderSteps}" key="nr" as="stepVal">
				<f:if condition="{stepVal} == {resultAnswer.value}">
					<span style="margin-left:{nr}px">O</span>
				</f:if>
			</f:for>
		</div>
		<f:if condition="{answer.RightLabel"><div class="keqSilderRightLabel">{answer.rightLabel}</div></f:if>
		<div class="keqSilderValueShow"><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang.xml:slider.selectedValue" />: <span id="keqShowValue{question.uid}a{answer.uid}">{f:if(condition: resultAnswer.value, then: resultAnswer.value, else: answer.minValue)}</span></div>
	</div>

</f:alias>